<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.BookCopyMapper">
    <select id="selectById" resultType="com.library.entity.BookCopy">
        SELECT * FROM book_copy WHERE id = #{id}
    </select>
    <select id="selectByBarcode" resultType="com.library.entity.BookCopy">
        SELECT * FROM book_copy WHERE barcode = #{barcode}
    </select>
    <select id="selectByBookId" resultType="com.library.entity.BookCopy">
        SELECT * FROM book_copy WHERE book_id = #{bookId}
    </select>
    <select id="selectByStatus" resultType="com.library.entity.BookCopy">
        SELECT * FROM book_copy WHERE status = #{status}
    </select>
    <insert id="insert" parameterType="com.library.entity.BookCopy">
        INSERT INTO book_copy (book_id, barcode, location, status, create_time)
        VALUES (#{bookId}, #{barcode}, #{location}, #{status}, #{createTime})
    </insert>
    <update id="update" parameterType="com.library.entity.BookCopy">
        UPDATE book_copy SET book_id = #{bookId}, barcode = #{barcode}, 
               location = #{location}, status = #{status} WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM book_copy WHERE id = #{id}
    </delete>
    <update id="updateStatusByBookId">
        UPDATE book_copy SET status = #{status} WHERE book_id = #{bookId}
    </update>
</mapper>