<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.library.entity.Book">
        <id column="id" property="id"/>
        <result column="ISBN" property="ISBN"/>
        <result column="bname" property="bname"/>
        <result column="author" property="author"/>
        <result column="publisher" property="publisher"/>
        <result column="introduction" property="introduction"/>
        <result column="pubDate" property="pubDate"/>
        <result column="clcNum" property="clcNum"/>
        <result column="bookStatus" property="bookStatus"/>
    </resultMap>

    <select id="selectByIsbn" resultMap="BaseResultMap">
        SELECT * FROM book WHERE ISBN = #{ISBN}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM book WHERE id = #{id}
    </select>

    <select id="selectByKeyword" resultMap="BaseResultMap">
        SELECT * FROM book
        WHERE bname LIKE CONCAT('%', #{keyword}, '%')
           OR author LIKE CONCAT('%', #{keyword}, '%')
           OR ISBN LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM book
    </select>

    <select id="selectOnShelf" resultMap="BaseResultMap">
        SELECT * FROM book WHERE bookStatus = 1
    </select>

    <select id="selectOnShelfPage" resultMap="BaseResultMap">
        SELECT * FROM book WHERE bookStatus = 1
    </select>

    <insert id="insert" parameterType="com.library.entity.Book" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO book (ISBN, bname, author, publisher, introduction, pubDate, clcNum, bookStatus)
        VALUES (#{ISBN}, #{bname}, #{author}, #{publisher}, #{introduction}, #{pubDate}, #{clcNum}, #{bookStatus})
    </insert>

    <update id="updateById" parameterType="com.library.entity.Book">
        UPDATE book
        SET ISBN = #{ISBN},
            bname = #{bname},
            author = #{author},
            publisher = #{publisher},
            introduction = #{introduction},
            pubDate = #{pubDate},
            clcNum = #{clcNum},
            bookStatus = #{bookStatus}
        WHERE id = #{id}
    </update>
</mapper>