<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.FineRecordMapper">
    <select id="selectById" resultType="com.library.entity.FineRecord">
        SELECT * FROM fine_record WHERE id = #{id}
    </select>
    <select id="selectByStudentId" resultType="com.library.entity.FineRecord">
        SELECT * FROM fine_record WHERE student_id = #{studentId}
    </select>
    <select id="selectUnpaidByStudentId" resultType="com.library.entity.FineRecord">
        SELECT * FROM fine_record WHERE student_id = #{studentId} AND is_paid = 0
    </select>
    <select id="selectUnpaidTotalByStudentId" resultType="java.math.BigDecimal">
        SELECT COALESCE(SUM(amount), 0) FROM fine_record WHERE student_id = #{studentId} AND is_paid = 0
    </select>
    <insert id="insert" parameterType="com.library.entity.FineRecord">
        INSERT INTO fine_record (student_id, borrow_record_id, amount, days, is_paid, create_time)
        VALUES (#{studentId}, #{borrowRecordId}, #{amount}, #{days}, #{isPaid}, #{createTime})
    </insert>
    <update id="update" parameterType="com.library.entity.FineRecord">
        UPDATE fine_record SET student_id = #{studentId}, borrow_record_id = #{borrowRecordId}, 
               amount = #{amount}, days = #{days}, is_paid = #{isPaid} WHERE id = #{id}
    </update>
    <update id="updatePaidByStudentId">
        UPDATE fine_record SET is_paid = 1 WHERE student_id = #{studentId} AND is_paid = 0
        ORDER BY create_time LIMIT 1
    </update>
    <delete id="deleteById">
        DELETE FROM fine_record WHERE id = #{id}
    </delete>
</mapper>
