<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.PaymentRecordMapper">
    <resultMap id="BaseResultMap" type="com.library.entity.PaymentRecord">
        <id column="serNum" property="serNum"/>
        <result column="sno" property="sno"/>
        <result column="payAmount" property="payAmount"/>
        <result column="payDate" property="payDate"/>
    </resultMap>

    <select id="selectBySno" resultMap="BaseResultMap">
        SELECT * FROM payrec WHERE sno = #{sno}
    </select>

    <insert id="insert" parameterType="com.library.entity.PaymentRecord" useGeneratedKeys="true" keyProperty="serNum">
        INSERT INTO payrec (sno, payAmount, payDate)
        VALUES (#{sno}, #{payAmount}, #{payDate})
    </insert>

    <select id="selectMaxSerNum" resultType="java.lang.Integer">
        SELECT MAX(serNum) FROM payrec
    </select>
</mapper>